/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT VARIABLE */

:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-body: #333333;
  --color-navbar-item: #545454;
  --color-plan-item: #444242;
  --color-heading: #000;
  --color-white: #fff;
  --avatar-size: 50px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: var(--color-body);
  line-height: 1.7;
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}

.block {
  padding: 4rem 2rem;
}

@media screen and (min-width: 768px) {
  .block {
    padding: 4rem 2rem;
  }
}
.block-heading {
  margin-top: 6rem;
}

@media screen and (min-width: 1025px) {
  .block {
    padding: 6rem 2rem;
  }
}

/* BUTTON */

.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--secondry {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.btn--block {
  width: 100%;
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}

/* BADGE */
.badge {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 1.2rem;
  border-radius: 32px;
  border: 2px solid var(--color-primary);
  text-transform: uppercase;
  direction: ltr;
}

.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.badge--secondry {
  background-color: var(--color-white);
  color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* LIST */
.list {
  list-style: none;
}

.list--inline .nav__item {
  display: inline-block;
  color: var(--color-navbar-item);
  margin-left: 2rem;
  font-size: 1.5rem;
}

.list--tick .list__item {
  color: var(--color-plan-item);
  background: url(../assets/images/Tick-Square.svg);
  background-position: right center;
  background-repeat: no-repeat;
  font-size: 1.5rem;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

/* PLAN */
.plan-heading {
  display: block;
  font-size: 2.2rem;
  padding-right: 2rem;
}
.block-plan {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  gap: 8rem 6rem;
  margin-top: 5rem;
  justify-content: center;
}

.plan {
  font-size: 1.8rem;
  transition: all 0.2s ease-out;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px hsla(0, 4%, 95%, 0.986);
}

.card__header,
.card__body {
  padding: 3rem 2.5rem;
}

.card__header {
  color: var(--color-white);
}

.card__body {
  background-color: var(--color-secondary-light);
}

.card--primary .card__header {
  background-color: var(--color-primary-light);
}

.card--secondry .card__header {
  background-color: var(--color-secondary-dark);
}

.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.plan__price {
  font-size: 3rem;
}

.plan__billing-cycle {
  font-size: 1.4rem;
}

.plan__description {
  display: block;
  margin-top: 1.5rem;
}

.plan .btn--block {
  margin-top: 10rem;
}

.plan .btn {
  transition: all 0.3s ease-in-out;
}

.plan .btn:hover {
  transform: scale(0.9);
}

.plan--popular {
  transform: scale(1.1);
}

.plan--popular:hover {
  transform: scale(1.15);
}

.plan:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .plan-heading {
    font-size: 3.5rem;
    padding: 7rem 2rem;
  }
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* FEATURE */

.feature {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0rem 10rem;
  margin-top: 6rem;
}

.feature__title {
  margin-top: 2rem;
}

.feature__description {
  margin-bottom: 2rem;
  text-align: justify;
}

.feature__more-information {
  color: var(--color-primary);
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.feature .btn {
  padding: 1.5rem 3rem;
  transition: all 0.3s ease-in-out;
}

.feature .btn:hover {
  transform: scale(0.9);
}

.feature__image {
  width: 100%;
  margin-bottom: 2rem;
  align-self: flex-end;
}

.feature.feature--one .feature__image img {
  padding-right: 4rem;
}

.feature.feature--two .feature__image img {
  padding: 0 2rem;
}

.feature__image > img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .feature {
    margin-top: 8rem;
  }
  .feature.feature--one {
    flex-direction: row-reverse;
  }

  .feature.feature--two {
    flex-direction: row;
  }

  .feature__details {
    width: 100%;
  }

  .feature__more-information {
    font-size: 1.6rem;
  }

  .feature__image {
    width: 100%;
    margin-bottom: 0;
  }
}

/* CONTACT-US */
.contact-us {
  display: grid;
  gap: 3rem 4rem;
  justify-content: center;
}

.contact-us__title {
  text-align: center;
  color: #252b42;
}

.contact-us__description {
  text-align: center;
  color: #374754;
  margin-bottom: 4rem;
}

.contact-us__map {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-us {
    grid-template-columns: 70fr 30fr;
    grid-template-areas:
      "address form"
      "map form"
      "icons form";
  }

  .contact-us__icons {
    grid-area: address;
  }

  .contact-us__map {
    display: block;
    grid-area: map;
  }

  .contact-us__socials {
    grid-area: icons;
  }

  .contact-us__form {
    grid-area: form;
  }
}

/* ICONS */

.icon {
  width: 24px;
  height: 24px;
}

.icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 100%;
  cursor: pointer;
}

.icon--primary {
  fill: #445;
}

/* SOCIAL ICONS */
.contact-us__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
  margin-top: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .contact-us__socials {
    justify-content: flex-end;
    margin-top: 0;
    padding: 0.5rem 2rem;
  }
}

/* INFORMATION ICONS */
.contact-us__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 2rem;
}

.contact-us__icons .icon-holder {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.icon-holder .icon-holder__label {
  font-size: 1.6rem;
  display: block;
  max-width: 250px;
}

@media screen and (min-width: 1024px) {
  .contact-us__icons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .contact-us__icons .icon-holder {
    flex-direction: column-reverse;
    margin-bottom: 0;
    max-width: 200px;
  }

  .icon-holder .icon-holder__label {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }
}

/* MAP */
.contact-us__map img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

/* FORM */
.contact-us__form .form-wrapper {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  border: 1px solid #d6d3d1;
  height: 100%;
  border-radius: 20px;
  padding: 5rem 3rem 0;
}

.contact-us__form .form-heading {
  text-align: center;
  margin-bottom: 4rem;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

.form-wrapper input,
.form-wrapper textarea {
  display: block;
  padding: 2rem;
  margin-bottom: 3rem;
  outline: 0;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  font-family: "iranyekan";
}

.form-wrapper input {
  border-radius: 39px;
}

.form-wrapper textarea {
  resize: none;
  border-radius: 8px;
}

input:focus,
textarea:focus {
  border: 1px solid var(--color-primary-light);
}

::placeholder {
  font-size: 1.3rem;
  color: #333;
  font-family: "iranyekan";
}

.form-wrapper .btn {
  border-radius: 35px;
  padding: 1.5rem 3.8rem;
  background-color: var(--color-primary-light);
}

.form-wrapper .btn:hover {
  background-color: var(--color-primary);
}

/* FOOTER */
.main-footer {
  background: #000;
  color: #fff;
  min-height: 250px;
  padding-top: 3rem;
  line-height: 2.5rem;
}

.main-footer .link {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  display: block;
  transition: all 0.3s ease-out;
}

.main-footer .link:hover {
  color: var(--color-primary);
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.brand-col {
  width: 15%;
}

.brand-col .footer__logo {
  width: 140px;
}

:is(.brand-col, .footer-col) {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 3rem;
  width: 100%;
}

.trust-col {
  display: flex;
  justify-content: space-between;
}

.trust-col {
  flex-grow: 1;
  flex-wrap: nowrap;
  max-width: 100%;
  width: 100%;
  gap: 1rem;
}

.brand-col .copy-right {
  display: none;
}

.brand-col h3 {
  color: var(--color-white);
  font-size: 1.2rem;
}

.footer-container h6 {
  font-size: 1.8rem;
  color: var(--color-white);
  font-weight: bold;
  margin-bottom: 1rem;
}

.copy-right-mobile {
  color: #acacac;
  font-size: 1.4rem;
  text-align: center;
}

.copy-right-mobile.tapsi {
  margin-top: 2rem;
}

.trust-col .footer__enemad {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  max-width: 120px;
}

.footer__enemad img {
  width: 100%;
  height: auto;
}

.social-container {
  padding: 2rem 0;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
}

.social-container h3 {
  color: #fff;
  font-size: 1.4rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 10rem;
  }

  .footer-container h6 {
    margin-bottom: 2rem;
  }

  .social-container h3 {
    display: block;
  }

  .brand-col {
    margin-left: 2rem;
  }

  :is(.brand-col, .footer-col, .trust-col) {
    margin-bottom: 0;
  }

  .brand-col h3 {
    margin-top: 2rem;
  }

  .brand-col .copy-right {
    display: block;
    font-size: 1.2rem;
    color: #acacac;
    margin-top: 1rem;
  }

  .copy-right-mobile {
    display: none;
  }

  .footer__enemad {
    width: 90px;
  }

  .social-container {
    padding: 0 10rem 7rem;
  }

  .social-container h3 {
    display: block;
    margin-bottom: 0.5rem;
  }

  .social-links {
    justify-content: flex-start;
  }

  .social-links > a:not(:last-child) {
    margin-left: 1.5rem;
  }
}

/* NAVBAR */
.main-header {
  background-color: var(--color-navbar);
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}

.nav__item {
  margin-top: 1rem;
  border-bottom: 1px solid #ccc;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item > a {
  text-decoration: none;
  color: var(--color-navbar-item);
  display: block;
  padding: 0.5rem 0;
  transition: all 0.4s ease-out;
}

.nav .link:hover {
  color: var(--color-primary);
}

.nav__item.cta {
  border: 0;
}

.nav__item .btn {
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 2rem;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    width: auto;
    opacity: 1;
    max-height: 100%;
  }
  .nav__toggler {
    display: none;
  }

  .nav__item {
    margin-right: 2rem;
    margin-top: 0;
    border: 0;
  }
  .nav__item .btn:hover {
    transform: scale(0.9);
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    padding: 0 12rem;
  }
}
/* TOGGLER */
.nav__toggler {
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin-top: 8px;
}

.nav.nav__expanded .bar-two {
  transform: translateX(-20px);
  opacity: 0;
}

.nav.nav__expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin-top: 8px;
}

/* HERO SECTION */
.hero-section {
  position: relative;
  width: 100%;
  height: 478px;
}

.hero-section .banner-img {
  width: 100%;
  height: 478px;
}

.hero-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 520px;
  justify-content: center;
  align-items: center;
}

.hero-wrapper .intro-wrapper {
  border-radius: 20px;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  padding: 1.7rem 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-wrapper .title {
  color: #fff;
  font-size: 2.5rem;
  margin-top: 0;
}

.intro-wrapper .sub-title {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.intro-btn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
}

.intro-btn .intro-btn__passanger {
  cursor: pointer;
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem;
  margin: 0.7rem 1rem;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.intro-btn .intro-btn__passanger:hover {
  background-color: var(--color-primary);
  color: #fff;
  transform: scale(0.95);
}

.intro-btn__passanger.driver-intro {
  background-color: rgba(23, 26, 60, 0.5);
  border: 2px solid #fff;
  color: #fff;
}

.intro-btn__passanger.driver-intro:hover {
  background-color: var(--color-primary);
  transform: scale(0.95);
  border: none;
}

.intro-btn__passanger > p {
  margin-left: 1.5rem;
}

.banner-phone {
  display: none;
  position: absolute;
  width: 450px;
  left: 10%;
  bottom: -75%;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-section .banner-img {
    object-fit: cover;
  }
  .hero-wrapper .intro-wrapper {
    padding: 1.5rem;
  }
  .intro-btn .intro-btn__passanger {
    padding: 1rem;
  }
  .hero-wrapper .intro-wrapper {
    border-radius: 20px;
  }
  .intro-wrapper .title {
    font-size: 3rem;
  }
  .intro-wrapper .sub-title {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .intro-btn__passanger p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1025px) {
  .hero-wrapper {
    justify-content: flex-start;
    margin-top: 5rem;
    right: 0;
    height: 430px;
    max-height: 430px;
  }
  .hero-section .banner-img {
    height: auto;
  }
  .hero-wrapper .intro-wrapper {
    border-radius: 20px;
  }
  .intro-wrapper .title {
    font-size: 5rem;
  }
  .intro-wrapper .sub-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
  .intro-btn {
    flex-direction: row;
    align-items: center;
    width: 485px;
    max-width: 485px;
  }

  .intro-btn .intro-btn__passanger {
    padding: 1.5rem 1rem;
  }

  .intro-btn__passanger p {
    font-size: 1.5rem;
  }

  .banner-phone {
    display: block;
  }
}

/* SERVICES SECTION */
.services {
  border-bottom: 1px solid #ddd;
}
.services .services__title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.services__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  padding: 5px 0 15px;
  margin-bottom: 2rem;
}

.tab {
  cursor: pointer;
  text-decoration: none;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}

.tab img {
  display: block;
  max-width: 85px;
  opacity: 0.35;
  transition: all 0.2s ease-out;
}

.tab.active img {
  opacity: 1;
}

.tab:hover img {
  opacity: 1;
}

.tab > p {
  margin-top: 1.3rem;
  font-size: 1.2rem;
  color: #5e5e5e;
}

.tab-content {
  margin-bottom: 5rem;
  display: none;
}

.tab-content.active {
  display: flex;
  flex-direction: row-reverse;
}

.tab-content .feature__detail {
  width: 100%;
}

.tab-content .feature__title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.tab-content .feature__text {
  text-align: justify;
  line-height: 3.2rem;
  font-size: 1.4rem;
}

.tab-content .feature__image {
  display: none;
  width: 85%;
  margin-right: 10rem;
}

@media screen and (min-width: 1024px) {
  .services {
    margin-top: 15rem;
  }
  .services .services__title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  .tab img {
    width: 100%;
    max-width: 100px;
  }
  .tab > p {
    font-size: 1.6rem;
  }
  .tab-content .feature__title {
    font-size: 2.8rem;
    font-weight: 500;
  }
  .tab-content .feature__text {
    font-size: 1.8rem;
  }
  .tab-content .feature__detail {
    width: 85%;
  }
  .tab-content .feature__image {
    display: block;
  }
  .feature__image img {
    width: 100%;
  }
}

/* TRAVEL SECTION */
.travell__heading {
  display: block;
  font-size: 2.2rem;
  padding-right: 0.5rem;
  padding-bottom: 1.5rem;
}

.travell__slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.travell__slides::-webkit-scrollbar {
  display: none;
}

.travell__slide {
  display: flex;
  flex: 0 0 260px;
  flex-direction: column;
  align-items: center;
}

.travell__slide:not(:last-child) {
  margin-left: 2rem;
}

.slide__img {
  width: 100%;
  height: 200px;
}

.slide__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.slide__detail {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  padding: 1.3rem 1.6rem;
  border-radius: 30px;
  width: 230px;
  transform: translateY(-60px);
}

.slide__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.slide__header > p {
  font-size: 1.2rem;
}

.slide__header .badge {
  padding: 0 1.2rem;
  font-size: 1.2rem;
}

.slide__title {
  font-size: 1.4rem;
  font-weight: 800;
  color: #524f4f;
  margin-bottom: 1rem;
}

.slide__detail .slide__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #cacaca;
}
.slide__icons .fas:hover {
  cursor: pointer;
  color: #ff0000;
}

.slide__icons .far:hover {
  cursor: pointer;
  color: #000;
}
@media screen and (min-width: 768px) {
  .travell__slide:not(:last-child) {
    margin-left: 5rem;
  }
  .travell__heading {
    font-size: 3rem;
  }
}

/* AVATAR */
.avatar-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid #fff;
  cursor: pointer;
  margin-left: -2rem;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.avatar:hover {
  transform: translateX(8px);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden-avatars {
  width: var(--avatar-size);
  height: var(--avatar-size);
  background-color: var(--color-primary-light);
  color: #fff;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  position: relative;
}

.slide__suggest {
  font-size: 1.2rem;
  color: var(--color-primary);
  margin-right: 5px;
  display: inline-block;
}

/* SELEECT TYPE WEBINAR SECTION */
.drivers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.driver {
  flex-grow: 1;
  /* width: 100% */
}

.driver input[type="radio"] {
  display: none;
}

.driver:not(:last-child) {
  margin-left: 2rem;
}

.driver label {
  width: 100%;
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  border: 2px solid #ccc;
  border-radius: 32px;
  font-weight: 700;
  position: relative;
  color: #444;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.driver label::before {
  width: 15px;
  height: 15px;
  content: "";
  box-shadow: 0 0 0 2px #ccc;
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  border: 3px solid #fff;
  transition: all 0.3s ease-out;
}

.driver input:checked + label {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.driver input:checked + label::before {
  box-shadow: 0 0 0 2px var(--color-primary);
  background-color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .drivers__heading {
    font-size: 3.3rem;
    margin-bottom: 2rem;
  }
}

/* DROP DOWN (ACCORDION) SECTION */
.accordion-title {
  font-size: 2rem;
  text-align: center;
}
.accordion-wrapper {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ececec;
  box-shadow: 0 9px 12px rgb(0 0 0 / 5%);
  margin-top: 2rem;
}

.accordion-wrapper i {
  color: var(--color-primary);
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease-out;
}

.accordion-wrapper .edit {
  cursor: pointer;
}

.accordion__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 2px solid #ececec;
  color: var(--color-primary);
  background: #f4f4f5;
}

.accordion__heading {
  font-size: 1.4rem;
  color: #3a3a3a;
  margin-bottom: 0;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
}

.accordion:not(:last-child) .accordion__header {
  border-bottom: 2px solid #ececec;
}

.accordion__header:hover {
  background-color: #fafafa;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.accordion__content p {
  border-bottom: 2px solid #ececec;
  margin: 1rem 0;
  font-size: 1.4rem;
  color: #878787;
}

.accordion__expanded .accordion__content {
  padding: 1rem 4rem;
  opacity: 1;
  max-height: 100vh;
}

.accordion__heading .accordion__expanded .accordion__content {
  padding: 1rem 4rem;
  opacity: 1;
  max-height: 100vh;
}

.accordion__expanded .accordion__header i {
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .accordion-title {
    font-size: 3rem;
    text-align: right;
  }

  .accordion__heading {
    font-size: 1.8rem;
  }
}

/* BTN SCROLL TO TOP */
.scroll-top {
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-primary-light);
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.scroll-top i {
  transform: rotate(180deg);
  color: #fff;
}
